html {
    box-sizing: border-box;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    width: 100%;
    height: auto;
}

.layout-container { 
  background-image: url(/images/bg-pattern-bottom-desktop.svg);
  background-size: contain;
  background-color: hsl(0, 0%, 100%);
  width: 80vw;
}
  

.layout-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 160px 100px 160px;
    width: 100%;
}
/* heading section*/
.heading {
  flex: 1;
  display: flex;
  /*margin: 100px 0 0 100px;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 100px;*/
  
}

.h1-heading h1 {
 color: hsl(303, 10%, 53%);
 font-weight: 700;
 font-size: 60px;
 margin-right: 50px;
 line-height: 55px;

}

.text-heading {
margin-top: 30px;
}

.text-heading p {
  color: hsl(303, 10%, 53%);
  margin-right: 170px;

}

/* rating section*/
.rating {
  flex: 1;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* margin: 100px 160px 0 0;*/
  gap: 1rem;
  position: relative;
  }

.rating-1 {
  background-color: hsl(300, 24%, 96%);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 50px;
}

.rating-2 {
  position: relative;
  left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  background-color: hsl(300, 24%, 96%);
}

.rating-3 {
  position: relative;
  left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  background-color: hsl(300, 24%, 96%);
}

.stars {
  margin-left: 30px;
  margin-right: 30px;
}

.rated-for {
 color: hsl(303, 10%, 53%);
 font-weight: 500;
}

/* card-response*/
.card-response {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  flex-basis: 100%;
  gap: 1rem;
  
}

.card-1 {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 10vh;
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 350px;
  height: 230px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  width: 350px;
  height: 230px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
}

.heading-card {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 40px;

}

.foto-mans img {
  width: 40px;
  margin-right: 25px;
  border-radius: 100px;
}

.name-mans p {
  color: hsl(300, 24%, 96%);
  font-weight: 400;
}

.status-buyer {
  color: hsl(333, 80%, 67%);
}

article {
  margin-top: 30px;
  margin-left: 30px;  

}

q {
  color: hsl(300, 24%, 96%);
 
}
